<a href="https://colab.research.google.com/github/Mauregina/projetos_curso_python_udemy/blob/master/Python_general.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green>Lambda e Funções Integradas</font>
***

In [ ]:
import numpy as np

def sigmoid(z):
  return 1 / (1 + np.exp(-z))

sigmoid(-2)

0.11920292202211755

In [ ]:
from scipy.spatial import distance

distance.euclidean([9, 6], [5, 5])

4.123105625617661

## <font color='red'>Lambda</font>

In [ ]:
# Defina uma funcao que calcule a soma dos quadrados de dois números x e y
print((lambda x, y: x**2 + y**2)(2,3))

13

In [ ]:
# Converter grau Celsius para Fahrenheit
cidades = [('Rio de Janeiro', 37), ('Manaus', 32), ('Belo Horizonte', 29), ('Curitiba', 18), ('Brasilia', 24)]
list(map(lambda cidade: (cidade[0], cidade[1]+32), cidades))

[('Rio de Janeiro', 69),
 ('Manaus', 64),
 ('Belo Horizonte', 61),
 ('Curitiba', 50),
 ('Brasilia', 56)]

## <font color='red'>List Comprehension</font>

In [ ]:
# Defina a funcao triangulo que recebe como argumento um número natural N e devolve uma lista em que o primeiro elemento
# eh a lista [1], o segundo elemento eh a lista [1, 2] e assim sucessivamente ate N
n = 5
lista = [[j for j in range(1, i+1)] for i in range(1, n+1)]
print(lista)

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5]]

In [ ]:
# Defina a funcao que recebe como argumentos uma lista de inteiros e um número inteiro e devolve a lista que resulta de
# apagar da lista todas as ocorrências do numero dado
numeros = [1, 2, 3, 4, 5, 2, 4, 5, 5, 2]
i = 5
print(list(x for x, numero in enumerate(numeros) if numero==i))

[4, 7, 8]

In [ ]:
# Defina a funcao que recebe como argumento uma lista de numeros inteiro e devolve a lista das posicoes onde ocorre o maximo da lista
numeros = [1, 2, 3, 4, 5, 2, 4, 5, 5, 2]
print(list(x for x, numero in enumerate(numeros) if numero==max(numeros)))

[4, 7, 8]

## <font color='red'>Generator Comprehension</font>

In [ ]:
lista = ['Carlos', 'Camila', 'Cristian', 'Carla', 'Maura']

# List/Dict/Set comprehension sao menos performaticos
# Gera na memoria/Utilizar se precisar da lista
result = [nome[0]=='C' for nome in lista]
print(type(result))
print(result) #gera lista

# Generator eh mais performatico (Nao gera na memoria)
result = (nome[0]=='C' for nome in lista)
print(type(result))
print(result) #gera um generator

<class 'list'>
[True, True, True, True, False]
<class 'generator'>
<generator object <genexpr> at 0x7faee1ef5f50>

## <font color='red'>Map</font>

In [ ]:
# Escreva uma funcao que receba uma lista de nomes e retorne uma lista com a string \"Sr. \"
nomes = ['Maura', 'Regina', 'Tais', 'Mariana', 'Liana']
print(list(map(lambda nome: 'Srta ' + nome, nomes)))

['Srta Maura', 'Srta Regina', 'Srta Tais', 'Srta Mariana', 'Srta Liana']

In [ ]:
# Escreva uma funcao que, dada uma lista de numeros, calcule 3*n**2 + 2/n + 1 para cada número n da lista
numeros = [1, 2, 3, 4, 5]
print(list(map(lambda numero: 3*numero**2+2/numero+1, numeros)))

[6.0, 14.0, 28.666666666666668, 49.5, 76.4]

## <font color='red'>Filter</font>

In [ ]:
dicionario = [{'nome':'Maura','tweets':['Somos todos python','Hoje eh feriado']},
              {'nome':'Regina','tweets':[]},
              {'nome':'Paula','tweets':[]},
              {'nome':'Jose','tweets':['BBB21','Hoje eh feriado', 'Juliete']},
              {'nome':'Fernanda','tweets':['Inteligencia Artificial','Ciencia de Dados']}]

# Filtrar itens vazios
list(filter(lambda item: len(item['tweets'])==0, dicionario))

[{'nome': 'Regina', 'tweets': []}, {'nome': 'Paula', 'tweets': []}]

In [ ]:
# Escreva uma funcao que, dada uma lista de numeros, retorne uma lista com apenas os que forem negativos
numeros = [1, -2, 3, -4, 5]
print(list(filter(lambda numero: numero<0, numeros)))

[-2, -4]

In [ ]:
# Escreva uma funcao que receba uma lista de numeros e retorne somente os que estiverem entre 1 e 100.
numeros = [-3, 0, 1, 56, 78, 99, 100, 115, 230, 360]
print(list(filter(lambda numero: 1<=numero<=100, numeros)))

[1, 56, 78, 99, 100]

In [ ]:
# Escreva uma funcao que receba uma lista de numeros e retorne somente aqueles que forem pares
numeros = [-3, 0, 1, 56, 78, 99, 100, 115, 230, 360]
print(list(filter(lambda numero: numero%2==1, numeros)))

[-3, 1, 99, 115]

In [ ]:
# Defina a funcao que recebe como argumentos uma lista de inteiros e um número inteiro e devolve a lista que resulta de
# apagar da lista todas as ocorrências do numero dado
numeros = [1, 2, 2, 3, 4, 5, 2, 4, 5, 5, 2]
i = 5
print(list(filter(lambda numero: numero!=i, numeros)))

[1, 2, 2, 3, 4, 2, 4, 2]

## <font color='red'>Map + Filter</font>

In [ ]:
nomes = ['Vanessa', 'Ana', 'Maria', 'Paty']

lista = list(map(lambda nome: f'Sua instrutora eh: {nome}', filter(lambda nome: len(nome)<5, nomes)))

lista

['Sua instrutora eh: Ana', 'Sua instrutora eh: Paty']

## <font color='red'>All</font>

In [ ]:
# Retorna TRUE se todos elemento do iteravel sao verdadeiros ou se iteravel estah vazio

lista = ['Carlos', 'Camila', 'Cristian', 'Carla']
print(all([nome[0]=='C' for nome in lista])) #retorna TRUE

lista = ['Carlos', 'Camila', 'Cristian', 'Carla', 'Maura']
print(all([nome[0]=='C' for nome in lista])) #retorna FALSE

True
False

## <font color='red'>Any</font>

In [ ]:
# Retorna TRUE se qualquer elemento do iteravel é verdadeiro. Se iteravel estah vazio retorna FALSE
lista = ['Carlos', 'Camila', 'Cristian', 'Carla', 'Maura']
print(any([nome[0]=='C' for nome in lista])) #retorna True

True

In [ ]:
# Crie uma funcao que verifique se o caracter C esta contido na String. O resultado deve ser True ou False (Voce nao deve usar o operador IN)
palavra = 'caderno'
caract = 'c'
print(any(c.lower() == caract.lower() for c in list(palavra)))

True

In [ ]:
# Defina a funcao que recebe como argumento uma lista de numeros inteiros e devolve True se lista contem um numero par e
# False em caso contrario
numeros = [1, 3, 5]
print(any(numero%2==0 for numero in numeros))

False

## <font color='red'>Min / Max</font>

In [ ]:
lista = ['Maura', 'Antonia', 'Regina', 'Priscila', 'Anitta', 'Helena', 'Veronica']
print(max(lista)) #Maior por ordem alfabetica
print(max(lista, key=lambda nome: len(nome))) #Maior por tamanho string

Veronica
Priscila

In [ ]:
musicas = [
    {'titulo': 'Na batida', 'tocou':41},
    {'titulo': 'Bang', 'tocou':23},
    {'titulo': 'Menina ma', 'tocou':32},
    {'titulo': 'Essa minha eh louca', 'tocou':98},
    {'titulo': 'Sim ou nao', 'tocou':56}
]
# Musica que mais tocou
print(max(musicas, key=lambda musica: musica['tocou']))

# Imprimir so titulo da musica que mais tocou
print(max(musicas, key=lambda musica: musica['tocou'])['titulo'])

{'titulo': 'Essa minha eh louca', 'tocou': 98}
Essa minha eh louca

## <font color='red'>Sort / Sorted</font>

In [ ]:
# Colocar lista em ordem alfabética por sobrenome

lista = ['J. K. Rowling', 'Machado de Assis', 'Thalita Reboucas', 'Pedro Bandeira', 'Raul Toledo', 'Token',
         'Marion Zimmer Bradley', 'Charlote Bronet', 'Jane Austen']

lista.sort(key=lambda sobrenome: sobrenome.split(' ')[-1])

lista

['Machado de Assis',
 'Jane Austen',
 'Pedro Bandeira',
 'Marion Zimmer Bradley',
 'Charlote Bronet',
 'Thalita Reboucas',
 'J. K. Rowling',
 'Token',
 'Raul Toledo']

In [ ]:
musicas = [
    {'titulo': 'Na batida', 'tocou':41},
    {'titulo': 'Bang', 'tocou':23},
    {'titulo': 'Menina ma', 'tocou':32},
    {'titulo': 'Essa minha eh louca', 'tocou':98},
    {'titulo': 'Sim ou nao', 'tocou':56}
]
# ordenar por titulo
print(sorted(musicas, key=lambda musica: musica['titulo']))

# ordenar por mais tocadas
print(sorted(musicas, key=lambda musica: musica['tocou'], reverse=True))

[{'titulo': 'Bang', 'tocou': 23}, {'titulo': 'Essa minha eh louca', 'tocou': 98}, {'titulo': 'Menina ma', 'tocou': 32}, {'titulo': 'Na batida', 'tocou': 41}, {'titulo': 'Sim ou nao', 'tocou': 56}]
[{'titulo': 'Essa minha eh louca', 'tocou': 98}, {'titulo': 'Sim ou nao', 'tocou': 56}, {'titulo': 'Na batida', 'tocou': 41}, {'titulo': 'Menina ma', 'tocou': 32}, {'titulo': 'Bang', 'tocou': 23}]

In [ ]:
# Defina a funcao que recebe como argumentos duas listas e devolve True se L2 for permutacao de L1,
# e devolve False em caso contrario
lista1 = [1, 2, 3]
lista2 = [1, 3, 2]
print(sorted(lista1) == sorted(lista2))

True

## <font color='red'>Reversed</font>

In [ ]:
# iterando com reversed
for letra in reversed('Maura Regina Almeida da Costa'):
    print(letra, end='')

atsoC ad adiemlA anigeR aruaM

In [ ]:
# sem reversed
print(''.join(list(reversed('Maura Regina Almeida da Costa'))))

atsoC ad adiemlA anigeR aruaM

## <font color='red'>Sum</font>

In [ ]:
dicionario = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
print(sum(dicionario.values()))

15

In [ ]:
# Crie uma funcao que receba uma string e retorne o numero de espacos nela contidos
texto = 'Exemplo com 3 espacos'
print(sum(i==' ' for i in list(texto)))

3

In [ ]:
# Defina a funcao conta que recebe como argumentos uma lista de numeros inteiros W e um numero inteiro  X  e devolve o
# numero de ocorrencias de X em W
numeros = [1, 2, 2, 3, 4, 5, 2, 4, 5, 5, 2]
i = 2
print(sum(numero==i for numero in numeros))

4

In [ ]:
# Defina a funcao media_digitos que recebe como argumento um numero natural e devolve a media dos seus digitos
numeros = 123456
print(sum(int(numero) for numero in str(numeros))/len(str(numeros)))

3.5

## <font color='red'>Zip</font>

In [ ]:
#Agrega elementos de dois ou mais iteraveis. Gera um Zip Object
lista1 = [1, 2, 3]
lista2 = [4, 5, 6, 7]
lista3 = [8, 9, 10, 11, 12]
print(list(zip(lista1, lista2, lista3)))

[(1, 4, 8), (2, 5, 9), (3, 6, 10)]

In [ ]:
# Iteraveis diferentes
tupla = 1, 2, 3, 4, 5
lista = [6, 7, 8, 9, 10]
dicionario = {'a':11, 'b':12, 'c':13, 'd':14, 'e':15}

print(list(zip(tupla, lista, dicionario))) 
print(list(zip(tupla, lista, dicionario.values())))

[(1, 6, 'a'), (2, 7, 'b'), (3, 8, 'c'), (4, 9, 'd'), (5, 10, 'e')]
[(1, 6, 11), (2, 7, 12), (3, 8, 13), (4, 9, 14), (5, 10, 15)]

In [ ]:
#maior nota de cada aluno
prova1 = [7, 9, 6]
prova2 = [8, 6, 5]
aluno = ['Maura', 'Karla', 'Pedro']

dicionario = {i[0]: max(i[1], i[2]) for i in zip(aluno, prova1, prova2)}

print(dicionario)

{'Maura': 8, 'Karla': 9, 'Pedro': 6}

In [ ]:
# outra solucao
dicionario = zip(aluno, map(lambda i: max(i), zip(prova1, prova2))) 
print(dict(dicionario))

{'Maura': 8, 'Karla': 9, 'Pedro': 6}

## <font color='red'>Zip + All</font>

In [ ]:
# Crie uma função que verifique se as listas dadas possuem o mesmo primeiro elemento
l1 = [1 ,2, 3]
l2 = [1, 3, 5]
l3 = [1, 5, 7]
primeiros_elementos = list(zip(l1, l2, l3))[0]
print(all(elemento == primeiros_elementos[0] for elemento in primeiros_elementos))

True

## <font color='red'>Reduce</font>

In [ ]:
# Defina uma funcao que recebe como argumento uma lista de numeros inteiros e devolve o produto dos seus elementos
from functools import reduce
numeros = [1, 2, 3, 4, 5]
print(reduce(lambda num1, num2: num1*num2, numeros))

120

## <font color='red'>Utilizandos várias funções</font>

In [ ]:
# Defina a funcao que recebe com argumento uma lista e devolve True se a lista for constituida exclusivamente
# por lista de numero inteiros e False em caso contrario
numeros = [[1, 2, 3], [4, 5, 6], 1]
print(all(list(map(lambda linha: False if type(linha) is int else 
                   (False if type(linha) is not list else 
                    all(isinstance(item, int) for item in linha)), numeros))))

False

In [ ]:
# Defina a funcao que recebe com argumento uma lista e devolve True se a lista eh uma matriz de numeros inteiros e False em caso contrario
matriz = [[1, 2, 3], [4, 5, 6], [1]]
print(all(map(lambda lista: False if type(lista) is not list else 
              (all(False if len(lista) != len(matriz[0]) else 
                   (all(False if type(numero) is not int else 
                        True for numero in lista)) for lista in matriz)), matriz)))

False

In [ ]:
# Defina a funcao intercala que recebe como argumentos duas listas devolve a lista resultante de
# intercalar os elementos das duas listas
lista1 = [1, 3, 5]
lista2 = [2, 4, 6, 7, 8]
lista3 = [item for x in zip(lista1,lista2) for item in x] + (lista2[len(lista1):] 
                                                             if len(lista2)>len(lista1) else lista1[len(lista2):])
print(lista3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Defina a funcao fibonacci que recebe como argumento um numero natural e devolve o n-esimo numero da sucessao de Fibonacci
# Recorde que a sucessao dos numeros de Fibonacci eh definida recursivamente como se segue:
# fibonacci(1)=1
# fibonacci(2)=1
# fibonacci(3)= fibonacci(1)+ fibonacci(2) = 1+1
# fibonacci(4)= fibonacci(2)+ fibonacci(3) = 1 + (1+1)
# fibonacci(5)= fibonacci(3)+ fibonacci(4) = (1+1) + [1 + (1+1)]
# fibonacci(6)= fibonacci(4)+ fibonacci(5) = [1 + (1+1)] + [(1+1) + (1 + (1+1))]
# 1, 1, 2, 3, 5, 8, 13, 21...

def fibonacci(n):
    if n==1 or n==2:
        return 1
    else:
        numanterior1 = fibonacci(n-1)
        numanterior2 = fibonacci(n-2)
        return numanterior1 + numanterior2
print(fibonacci(8))

21

# <font color=green>Ambiente Virtual</font>
***

In [ ]:
#criar ambiente virtual

python -m venv <nome_ambiente>
#ou
virtualenv <nome_ambiente> --python = python<versao>

In [ ]:
#ativar ambiente virtual
.\env\Scripts\Activate.ps1

In [ ]:
#visualizar bibliotecas instaladas
pip freeze

In [ ]:
#instalar bibliotecas de um arquivos especifico
pip install -r <arquivo>